# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.venv
env/
venv/
ENV/

# Database / SQLite
*.db
*.sqlite3

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
*.cover

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/
